.cursor {
  width: 40px;
  height: 40px; 
  border: 2px solid rgb(105, 24, 20); 
  border-radius: 100%;
  position: fixed; 
  transform: translate(-50%, -50%);
  transition: all 150ms ease;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition-property: opacity, background-color, transform, mix-blend-mode;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9); 
  background-color: rgb(105, 24, 20);
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25); 
  background-color: rgb(105, 24, 20);
}

.cursor--button-hovered {
  cursor: none; 
  transform: translate(-50%, -50%) scale(1.25); 
  background-color: rgb(105, 24, 20);
}

a {
  cursor: none;
  text-decoration: underline;
  color: rgb(105, 24, 20); 
}

html, body {
  cursor: none; 
  background-color: rgb(255, 235, 235);
}

.button {
  cursor: none; 
  border-radius: 12px;
  background-color: rgb(255, 235, 235);
  border-color: rgb(105, 24, 20);
  color:rgb(105, 24, 20);
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  margin: 5px;
}

.button:hover {
  color: rgb(220, 46, 39); 
}


